body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
@media  (max-width : 1218px){

  .input_feild{
   
    margin-left: 275px;

  }
}
@media  (max-width : 1177px){

  .input_feild{
 
    margin-left: 245px;
   
  }
}
@media  (max-width : 1133px){

  .input_feild{
    margin-left: 235px;
  }
}
@media  (max-width : 1099px){

  .input_feild{
    width: 550px;
    margin-left: 226px;
  }
  .Nav-heading{
  
     font-size: 20px;  
  }
}

@media  (max-width : 1037px){

  .input_feild{
    width: 500px;
    height: 40px;
    padding: 1px;
    margin-left: 230px;
    border: none;
    border-radius: 3px;
    border-bottom: 1.5px solid black;
    font-size: 16px;
    text-align: center;
    
  }
  .Nav-heading{
  
     font-size: 20px;
    
  }
}


@media  (max-width : 927px){

  .input_feild{
    width: 500px;
    height: 40px;
    padding: 1px;
    margin-left: 190px;
    margin-top: 17px;
    
  }
  .Nav-heading{
     font-size: 20px;
  }
}
@media  (max-width : 869px){

  .input_feild{
    width: 500px;
    height: 40px;
    padding: 1px;
    margin-left: 155px;
    
  }
  .Nav-heading{
     font-size: 20px;
  }
  .city{
  font-size: 26px;
}

}

@media  (max-width : 467px){

.Container{
  margin: 26px 42px;
  height: 700px;
  background-color: white;
  border-radius: 13px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5),
     0 6px 20px 0 rgba(0, 0, 0, 0.5);
     background-color: rgba(127, 255, 212, 0.735);
   
}
.input_feild{
  width: 280px;
  margin-left: 34px;
  margin-top: 45px;
}

.Nav-heading{
   text-align: left;
   padding-top: 38px;
   padding-left: 83px;
}

.weather_icon{
  margin-top: 33px;
  margin-left: 3px;
}

.checks_span{
  color: whitesmoke;
  font-size: 28px;
}
.sub_intro{
  font-size: 17px;
  font-weight: 700;
}
  .intro_info{
    margin-top: -40px;
  }

  .information{
    flex-direction: column;
  }
  .icon{
    margin-top: -40px;
    margin-left : 72px
  }
  .city{
    margin-top: 0px;
    text-align: center;
  }
  .today{
    margin-top: 40px;
    font-weight: 400;
    font-size: 20px;
    text-align: center
  }
  .temp{
    margin-top: -40px;
    font-weight: 700;
    font-size: 20px;
  }
  .max-min{
    font-weight: 500;
  }
}
@media  (max-width : 413px){

  .Container{
    margin-left: 100px;
    margin: 26px 18px;
    height: 900px;
    background-color: white;
    border-radius: 13px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5),
       0 6px 20px 0 rgba(0, 0, 0, 0.5);
       background-color: rgba(127, 255, 212, 0.735);
     
  }
  .input_feild{
    width: 240px;
    margin-left: 70px;
    margin-top: 55px;
  }
  
  .Nav-heading{
     text-align: left;
     padding-top: 54px;
     padding-left: 110px;
  }
  
  .weather_icon{
    margin-top: 47px;
    margin-left: 1px;
  }
  
  .checks_span{
    color: whitesmoke;
    font-size: 30px;
    padding-top: 20px;
  }
  .sub_intro{
    font-size: 17px;
    font-weight: 700;
  }
    .intro_info{
      margin-top: -30px;
    }
    .checks
    {
      margin-top: 200px;
      font-size: 35px;
      padding-bottom: 40px;

    }
    .icon{
      margin-top: -40px;
      margin-left : 90px
    }
    .city{
      margin-top: 0px;
      text-align: center;
      font-size: 32px;
    }
    .today{
      margin-top: 70px;
      font-weight: 400;
      font-size: 25px;
      text-align: center
    }
    .temp{
      margin-top: -20px;
      font-weight: 700;
      font-size: 25px;
    }
    .max-min{
      font-weight: 500;
    }
    .condition{
      margin-top: -15px;
      margin-left: 42px;
      font-size: 33px;
    }
    .footer{
      padding: 20px;
      text-align: center;
       margin-top: 90px;
      width: 100%;
      font-size: 14px;
      margin-left: -20px;
      font-weight: 400;
    }
  }
  @media  (min-width : 819px) and (max-width : 900px){

    .Container{
      margin-left: 100px;
      margin: 26px 18px;
      height: 1180px;
      background-color: white;
      border-radius: 13px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5),
         0 6px 20px 0 rgba(0, 0, 0, 0.5);
         background-color: rgba(127, 255, 212, 0.735);
       
    }
    .input_feild{
      width: 240px;
      margin-left: 70px;
      margin-top: 75px;
      width: 600px;
    }
    
    .Nav-heading{
       text-align: left;
       padding-top: 54px;
       padding-left: 260px;
       font-size: 30px;

    }
    
    .weather_icon{
      margin-top: 57px;
      margin-left: 1px;
    }
    
    .checks_span{
      color: whitesmoke;
      font-size: 24px;
    }
    .sub_intro{
      font-size: 17px;
      font-weight: 700;
    }
      .intro_info{
        margin-top: -30px;
      }
      .checks
      {
  
        font-size: 25px;
  
      }
      .icon{
        margin-top: -40px;
        margin-left : 290px
      }
      .city{
        margin-top: 0px;
        text-align: center;
        font-size: 40px;
      }
      .today{
        margin-top: 70px;
        font-weight: 400;
        font-size: 30px;
        text-align: center
      }
      .temp{
        margin-top: -20px;
        font-weight: 700;
        font-size: 35px;
      }
      .max-min{
        font-weight: 500;
        font-size: 25px;
      }
      .condition{
        margin-top: -15px;
        margin-left: 42px;
        font-size: 33px;
      }
      .footer{
        padding: 20px;
        text-align: center;
         margin-top: 150px;
        width: 100%;
        font-size: 18kpx;
        margin-left: -20px;
        font-weight: 400;
      }
      .information{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
      }
    }
  
@media  (max-width : 401px){

  .Container{
    margin: 26px 42px;
    height: 700px;
    background-color: white;
    border-radius: 13px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5),
       0 6px 20px 0 rgba(0, 0, 0, 0.5);
       background-color: rgba(127, 255, 212, 0.735);
     
  }
  .input_feild{
    width: 280px;
    margin-left: 20px;
    margin-top: 45px;
  }
  
  .Nav-heading{
     text-align: left;
     padding-top: 38px;
     padding-left: 79px;
  }
  
  .weather_icon{
    margin-top: 33px;
    margin-left: 3px;
  }
  
  .checks
  {
    margin-top: 200px;
    font-size: 35px;
    padding-bottom: 40px;

  }
  .sub_intro{
    font-size: 17px;
    font-weight: 700;
  }
    .intro_info{
      margin-top: -40px;
    }
  
    .information{
      flex-direction: column;
    }
    .icon{
      margin-top: -40px;
      margin-left : 60px
    }
    .city{
      margin-top: 0px;
      text-align: center;
    }
    .today{
      margin-top: 40px;
      font-weight: 400;
      font-size: 20px;
      text-align: center
    }
    .temp{
      margin-top: -40px;
      font-weight: 700;
      font-size: 20px;
    }
    .max-min{
      font-weight: 500;
    }
    .condition{
      margin-top: -30px;
      margin-left: 42px;
      font-size: 33px;
    }

    .footer{
      padding: 20px;
      text-align: center;
       margin-top: 50px;
      width: 100%;
      font-size: 14px;
      margin-left: -20px;
      font-weight: 400;
    }
  }

  @media  (max-width : 391px){

    .Container{
      margin-left: 100px;
      margin: 26px 18px;
      height: 810px;
      background-color: white;
      border-radius: 13px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5),
         0 6px 20px 0 rgba(0, 0, 0, 0.5);
         background-color: rgba(127, 255, 212, 0.735);
       
    }
    .input_feild{
      width: 240px;
      margin-left: 56px;
      margin-top: 55px;
    }
    
    .Nav-heading{
       text-align: left;
       padding-top: 54px;
       padding-left: 92px;
    }
    
    .weather_icon{
      margin-top: 47px;
      margin-left: 1px;
    }
    
    .checks_span{
      color: whitesmoke;
      font-size: 24px;
      padding-bottom: 20px;
    }
    .sub_intro{
      font-size: 17px;
      font-weight: 700;
    }
      .intro_info{
        margin-top: -30px;
      }
      .checks
      {
        margin-top: 200px;
        font-size: 35px;
        padding-bottom: 40px;
  
      }
      .icon{
        margin-top: -40px;
        margin-left : 78px
      }
      .city{
        margin-top: 0px;
        text-align: center;
      }
      .today{
        margin-top: 40px;
        font-weight: 400;
        font-size: 20px;
        text-align: center
      }
      .temp{
        margin-top: -10px;
        font-weight: 700;
        font-size: 20px;
      }
      .max-min{
        font-weight: 500;
      }
      .condition{
        margin-top: -30px;
        margin-left: 42px;
        font-size: 33px;
      }
      .footer{
        padding: 20px;
        text-align: center;
         margin-top: 80px;
        width: 100%;
        font-size: 14px;
        margin-left: -20px;
        font-weight: 400;
      }
    }

@media  (max-width : 361px){

  .Container{
    margin-left: 100px;
    margin: 26px 18px;
    height: 740px;
    background-color: white;
    border-radius: 13px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5),
       0 6px 20px 0 rgba(0, 0, 0, 0.5);
       background-color: rgba(127, 255, 212, 0.735);
     
  }
  .input_feild{
    width: 240px;
    margin-left: 43px;
    margin-top: 55px;
  }
  
  .Nav-heading{
     text-align: left;
     padding-top: 54px;
     padding-left: 72px;
  }
  
  .weather_icon{
    margin-top: 47px;
    margin-left: 1px;
  }
  
  .checks_span{
    color: whitesmoke;
    font-size: 24px;
    padding-bottom: 20px;
  }
  .sub_intro{
    font-size: 17px;
    font-weight: 700;
  }
    .intro_info{
      margin-top: -30px;
    }
    .checks
    {
      margin-top: 200px;
      font-size: 35px;
      padding-bottom: 40px;

    }
    .icon{
      margin-top: -40px;
      margin-left : 60px
    }
    .city{
      margin-top: 0px;
      text-align: center;
    }
    .today{
      margin-top: 40px;
      font-weight: 400;
      font-size: 20px;
      text-align: center
    }
    .temp{
      margin-top: -40px;
      font-weight: 700;
      font-size: 20px;
    }
    .max-min{
      font-weight: 500;
    }
    .condition{
      margin-top: -30px;
      margin-left: 42px;
      font-size: 33px;
    }
    .footer{
      padding: 20px;
      text-align: center;
       margin-top: 80px;
      width: 100%;
      font-size: 14px;
      margin-left: -20px;
      font-weight: 400;
    }
  }